/* 
    Document   : insertTraineeActivity
    Created on : 24-nov-2012, 1.57.27
    Author     : utente
    Description:
        Purpose of the stylesheet follows.
*/
@import "template1.css";

#traineesManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

