/* 
    Document   : template1
    Created on : 20-nov-2012, 12.34.02
    Author     : Marco
    Description:
        Purpose of the stylesheet follows.
*/


@import "reset.css";

body {
    background-color: #E3E3E3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

label {
    height: 16px;
}

fieldset {
    border: 0;
    margin-top: 1%;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited, a:active, a:link{
    color: #FFFFFF;
}

a:hover{
    color: #FEF167;
}

u {
    padding: 2%;
    text-decoration: none;
}

tr {
    height: 30px;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

form.cmxform label.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

div.error {
    display: none;
}

input.error {
    border: 1px red;
}

/*header*/
#header {
    border-bottom: 1px #eeeeee solid;
    height: 120px;
    background-color: #424242;
    color: white;
}

#logo {
    border: 0px;
    width: 200px;
    height: 120px;
    padding: 0px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#title {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    bottom: 25%;
}

#userMenu {
    font-size: 14px;
    float: right;
    margin-right: 2%;
    margin-top: 6.9%;
    width: 18%;
    text-align: right;
    position: relative;
    bottom: 5px;
}

.userMenuEl {
    font-weight: bold;
    color: #ffffff;
}

div#navigation {
    position:relative;
    width: 15%;
    padding-bottom: 39.1%;
    font-weight: bold;
    clear:both;
    float:left;
    overflow:hidden;
    background: #424242;
}

div#navigation ul{
    padding: 0px;
    list-style: none;
}

div#navigation li{
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    color: white;
    font-weight: bold;
    text-align: center;
}
/*footer*/
#footer {
    background: #424242;
    text-align: right;
    color: white;
    font-weight: bold;
    padding: 1%;
    float:left;
    width:98%;
}
