/* 
    Document   : template.css
    Created on : 7-feb-2011, 18.35.59
    Author     : Tutti
    Description:
        Purpose of the stylesheet follows.
*/
@import "reset.css";

html{
    height: 100%;
}

body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
}

label {
    height: 16px;
}

fieldset {
    border: 0;
    margin-top: 1%;
}

p {
    text-align: center;
}


a {
    text-decoration: none;
}

a:visited, a:active, a:link, u:visited, u:active, u:link{
    color: #FFF;
}

a:hover {
    text-decoration: underline;
    color: #FFF;
    background-color: #444;
}

u:hover{
    text-decoration: underline;
    color: #FFF;

}

u {
    padding: 8%;
    text-decoration: none;
}

tr {
    height: 30px;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

form.cmxform label.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-left: 1%;
}

div.error {
    display: none;
}

input.error {
    /* border: 1px red;*/
}

/*
* header.jsp
*/
#header {
    border-bottom: 1px #eeeeee solid;
    height: 24%;
    background-color: #F90;
    color: white;
}

#logo {
    border: 0px;
    width: 200px;
    height: 120px;
    padding: 0px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#title {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    bottom: 8%;
    color: #FFF;
}

#userMenu {
    font-size: 14px;
    float: right;
    margin-right: 2%;
    margin-top: 9%;
    width: 25%;
    text-align: right;
    position: relative;
    bottom: 5px;
}

.userMenuEl {
    font-weight: bold;
    color: #ffffff;
}

div#navigation {
    position:relative;
    width: 15%;
    height: 130%;
    font-weight: bold;
    clear:both;
    float:left;
    overflow:hidden;
    background: #666;
}

div#navigation ul{
    padding: 0px;
    list-style: none;
}

div#navigation li{
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*
* footer.jsp
*/
#footer {
    background: #666;
    text-align: right;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-right: 3%;
    height: 3%;
    float:left;
    width:97%;
}

/*
* index.jsp
*/
#bodyLogin {
    background: #666;
}

#loginHeader{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#loginTitle{
    font-weight: bold;
    font-size: 28px;
    color: white;
}

#loginImage{
    margin-top: 5%;
    border: 0px;
    width: 200px;
    height: 120px;
    padding: 0px;
}

#loginForm {
    width: 500px;
    height: 300px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#loginFieldSet {
    margin-top: 5px;
}

.loginField {
    width: 92%;
    height: 25%;
    padding: 1.2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#loginButton {
    margin-top: 3%;
    width: 95%;
}

#registerButton {
    margin-top: 3%;
    width: 95%;
}

#errorBox {
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

/*
* common
*/
.formp {
    margin:2%;
}

.windowButton {
    height: 30px;
    width: 98%;
    margin: 5px;
    margin-bottom: 0px;
}

.windowButton2{
    height: 30px;
    width: 45%;
    margin: 5px;
    margin-bottom: 0px;
}

.buttonRemove{
    height: 30px;
    margin: 5px;
    margin-bottom: 0px;
    width:100px;
    left: 23%;
}

.center{
    text-align: center;
}

.removeNews{
    height: 105px;
    text-align: center;
    display: inline;
    
}

.tableImage {
    padding: 5px;
    border: 0px;
}

.confirmRemoveButton {
    width: 40%;
}

.notConfirmRemoveButton {
    width: 40%;
}

/*
* artefactsTable.jsp
*/
.artefactInput {
    width: 60%;
    padding: 2px;
    margin-left: 5%;
}

.artefactLabel {
    margin: 1%;
    margin-left: 1.5%;
}
.artefactLabel2 {
    margin: 1%;
    margin-left: 1.5%;
    font-weight: bold;
    font-size: 15px;
}


#addArtefactButton{
    width: 25%;
    margin-bottom: 2%;
}

#artefactsManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

#artefactsTable{
    text-align: center;
}

/*
* linksTable.jsp
*/
.artefactSelect {
    width: 35%;
    padding: 2px;
    margin-left: 5%;
}

.artefactLabel {
    margin: 1%;
    margin-left: 1.5%;
}

#addLinkButton{
    width: 25%;
    margin-bottom: 2%;
}

#linksManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

#linksTable{
    text-align: center;
}

/*
* searchLinks.js
*/
#showLinksForm {
    margin-bottom: 2%;
}

#directLinksTableContainer{
    width: 48%;
    margin-right: 2%;
    float: left;
}

#directLinksTable{
    text-align: center;
}

#indirectLinksTableContainer{
    width: 48%;
    margin-left: 2%;
    float: left;
}

#indirectLinksTable{
    text-align: center;
}

/*
*Gestione Riunioni
*/
#meetingCalendar{
    float: left;
    margin: 3%;
    margin-top: 7%;
}

#buttonInsert{
    position: absolute;
    left: 5cm;
}
.confirmAddButton {
    width: 40%;
}

.notConfirmAddButton {
    width: 40%;
}

.div:hover{
    background-color: #444;
}

#addMeetingButton, #notAddMeetingButton {
    margin-top: 3%;
    margin-left: 3%;
    width: 25%;
}
#newMeetingButton{
    margin-top: 3%;
    margin-left: 3%;
    width: 25%;
}
.hourLabel{
    margin-left: 21%;
}
/*
* account.jsp
*/
#bodyRegistration {
    background: #FFF;
}



#registrationFieldSet {
    margin-top: 5px;
}

#accountLabel, #accountLabel2, #accountLabel3, #accountLabel4, #accountLabel5{
    margin-left: 5%;
    font-weight: bold;
    font-size: 10pt;
    float: left;
    width: 140px;
}

.accountInput {
    width: 250px;
    height: 25%;
    padding: 0.5%;
    margin-bottom: 2%;
    margin-left: 2%;
}

#typeAccount, #typeParent {
    width: 262px;
    height: 25%;
    padding: 0.5%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.registrationField {
    width: 92%;
    height: 25%;
    padding: 0.5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
}

#registrationButton {
    margin-top: 3%;
    width: 95%;
}

/* trainees
*/

#traineesManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

/* formationScienceNotification
*/

#notificationsManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

/* traineeConvocation
*/

#traineeConvocationManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

/*
 * PaymentManagement
 */

#paymentsManagement {
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

#paymentsManagement h1 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#paymentsManagement h2 {
    font-size: 22px;
    text-align: center;
}

#paymentsManagement h3 {
    font-size: 18px;
}

#searchParent {
    padding-bottom: 20px;
}

.selectedParent {
    font-size: 18px;
}

.selectedParent > span {
    font-weight: bold;
}

/*
 * CanteenManagement
 */

#canteenManagement {
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

#canteenManagement h1 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

#canteenManagement h2 {
    font-size: 22px;
    text-align: center;
}

#canteenManagement h3 {
    font-size: 18px;
}

#searchParent {
    padding-bottom: 20px;
}

.selectedClass {
    font-size: 18px;
}

.selectedClass > span {
    font-weight: bold;
}

/*
*   Renunciation
*/

#renunciationManagement {
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}


/*
managerTraineeActivity
*/
#traineesManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}
/*
managerTraineeRequest
*/
#traineeRequestManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;



}

/*
    registrationChild
*/
#registrationChildContent {
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

.formp .details {
    margin-left:  2%;
    color: #FFF;
    width: 50%;
}
/* 
     TimeServiceManagment
*/
#timeserviceManagement {
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

/*
Gestione bambini
*/
.solveCommunication{
    height: 105px;
    text-align: center;
    display: inline;
    
}

/*
* SurveyManagement
*/

#surveyManagement {
  float: left;
  padding: 2%;
  padding-top: 1%;
  width: 80%;
}

 #webapp iframe {
    height:70%;
    width: 80%;
    margin: 10px 20px;
    outline-style: solid;
    outline-color: #666;
    outline-width: 2px;
}

 #surveyManagement h1 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
 }

 #surveyManagement h2 {
    font-size: 22px;
    text-align: center;
 }



