/* 
    Document   : trainees
    Created on : 20-nov-2012, 13.15.19
    Author     : Marco
    Description:
        Purpose of the stylesheet follows.
*/
@import "template1.css";

.formp {
    margin:2%;
}
.requirementLabel {
    margin: 1%;
    margin-left: 1.5%;
}
#traineesManagement{
    float: left;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}
.confirmRemoveButton {
    width: 40%;
}

.notConfirmRemoveButton {
    width: 40%;
}