<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>kids</display-name>
    <servlet>
        <servlet-name>GetTraineesServletTable</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetTraineesServletTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTraineesServlet</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetTraineesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTraineeServlet</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.InsertTraineeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMeetingServlet</servlet-name>
        <servlet-class>it.unisa.kids.communicationManagement.reunion.addMeetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAccountServlet</servlet-name>
        <servlet-class>it.unisa.kids.accessManagement.accountManagement.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountServlet</servlet-name>
        <servlet-class>it.unisa.kids.accessManagement.accountManagement.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyAccountServlet</servlet-name>
        <servlet-class>it.unisa.kids.accessManagement.accountManagement.ModifyAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.unisa.kids.accessManagement.accountManagement.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewsServlet</servlet-name>
        <servlet-class>it.unisa.kids.communicationManagement.newsManagement.InsertNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsServlet</servlet-name>
        <servlet-class>it.unisa.kids.communicationManagement.newsManagement.GetNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>it.unisa.kids.communicationManagement.newsManagement.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyTypeNewsServlet</servlet-name>
        <servlet-class>it.unisa.kids.communicationManagement.newsManagement.VerifyTypeNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTraineeServlet</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.RemoveTraineeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTraineeRequestServletTable</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetTraineeRequestServletTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRequestCalendarServlet</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetRequestCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTraineeServletTableRequest</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetTraineeServletTableRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertConvocationServlet</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.InsertConvocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetConvocationServletTable</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetConvocationServletTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveConvocationServlet</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.RemoveConvocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTraineesActivityServletCalendar</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetTraineesActivityServletCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTraineeActivityServletCalendar</servlet-name>
        <servlet-class>it.unisa.kids.serviceManagement.trainingManagement.GetTraineeActivityServletCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.unisa.kids.accessManagement.accountManagement.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addMeetingServlet</servlet-name>
        <url-pattern>/addMeeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAccountServlet</servlet-name>
        <url-pattern>/addAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTraineesServletTable</servlet-name>
        <url-pattern>/GetTraineesTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTraineeServlet</servlet-name>
        <url-pattern>/InsertTrainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyAccountServlet</servlet-name>
        <url-pattern>/ModifyAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTraineesServlet</servlet-name>
        <url-pattern>/GetTrainees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsServlet</servlet-name>
        <url-pattern>/GetNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewsServlet</servlet-name>
        <url-pattern>/InsertNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyTypeNewsServlet</servlet-name>
        <url-pattern>/VerifyTypeNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTraineeServlet</servlet-name>
        <url-pattern>/RemoveTrainee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTraineeRequestServletTable</servlet-name>
        <url-pattern>/GetTraineeRequestTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRequestCalendarServlet</servlet-name>
        <url-pattern>/GetRequestCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTraineeServletTableRequest</servlet-name>
        <url-pattern>/GetTraineeTableRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertConvocationServlet</servlet-name>
        <url-pattern>/InsertConvocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetConvocationServletTable</servlet-name>
        <url-pattern>/GetConvocationTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveConvocationServlet</servlet-name>
        <url-pattern>/RemoveConvocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTraineesActivityServletCalendar</servlet-name>
        <url-pattern>/GetTraineesActivityCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTraineeActivityServletCalendar</servlet-name>
        <url-pattern>/GetTraineeActivityCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
